body {
    padding: 0;
    margin: 0;
    /* 这里放入你的背景图片 */
    background: url(./assets/img/重庆.jpg) no-repeat;
    width: 100vw;
    background-size: cover;
}

a {
    text-decoration: none;
}

.box {
    /* 继承父盒子的宽度 如果是设置百分比的话 */
    width: 25%;
    background: rgba(0, 0, 0, .5);
    margin: 0 auto;
    margin-top: 5%;
    text-align: center;
    color: white;
}

.box img {
    /* 设置图片的大小 */
    padding-top: 10px;
    width: 150px;
    height: 150px;
    border-radius: 50%;
}

.box h1 {
    font-size: 40px;
    font-weight: 100;
}

.box h5 {
    font-size: 20px;
    font-weight: 100;
}

.box p {
    text-align: center;
}

.box ul {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-around;
}

.box ul li {
    list-style: none;
}

.box li a i{
    font-size: 40px !important;
    color: white;
    text-decoration: none;
    transition: all ease-in-out 300ms;
}

.box li a:hover {
    color: #b9b9b9;
}
